html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

#local_vid {
  height: 240px;
  width: 360px;
  object-fit: cover;
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
}

.video_grid {
  z-index: 1;
  position: relative;
}

.vid_mute_icon {
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
}

.mute_icon {
  z-index: 4;
  position: fixed;
  bottom: 0;
  right: 6.5%;
}

.video_share {
  z-index: 5;
  position: fixed;
  bottom: 0;
  right: 10.5%;
}

#header_style{
  text-align: center;
}